body{
    display: flex;
    flex-direction: column;
    margin:0px;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    align-items: center;

}

.header{
    align-items: center;
    background-color:#1F2937;
    padding: 20px 200px;
    justify-content: center;
}

.top{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    gap: 200px;
    margin-bottom: 60px;
    
}
.middle{
    display:flex;
    flex-direction: row;
    
    gap: 200px;
    justify-content: center;
    margin-bottom: 50px;
}


.logo-text{
    color: #F9FAF8;
    font-size:24px;
    flex-basis: 400px;
    font-weight: 700;
    
}

.header-links{
    display:flex;
    margin-top: 0px;
    gap: 8px;
    font-size: 18px;
    flex-basis: 400px;
    
}


.middle .turtle{
    max-height:100%;  
    max-width:100%;
    
}

.content,
.seaturtle{
    display:flex;
    flex-direction: column;
    flex-basis: 400px;
    gap: 10px;
    
    
}

.hero-main{

    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-secondary{
    font-size: 18px;
    color: #cdcdcc;
}

ul{
    display: flex;
    list-style: none;
    padding: 0px;
    flex-direction: row;
    
}

 
.info{
    flex-direction: column;
    width: 800px;
    align-items: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
}

.general{
    font-size:36px;
    font-weight: 700;
    color:#1F2937;
    font-size: 48px;
    margin-bottom: 60px;
}
.images li{
    text-align:center; 
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom:100px;
    
    
}
.images img{
    width: 200px;
    display: flex;
    gap: 5px;
}

img{
    border-radius: 10px;
    margin-bottom: 10px;
    
}

a{
    text-decoration: none;
    color: #cdcdcc;
    font-size:18px;
}

button{
    background-color: #3882f6;
    color:#e5e7eb;
    padding: 6px 48px;
    border-radius: 10px;
    font-size: 16px;
    
}

.inspiring{
    background-color: #e5e7eb;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction:column;
}

.quote,
.quotee{
    width: 800px;
    
    font-size:36px;
    color: #1F2937;
}
.quote{
    margin-top: 150px;
    font-style: italic;
    margin-bottom: 20px;
}

.quotee{
    font-weight: bold;
    margin-left: 900px;
    font-size: 26px;
    margin-bottom: 150px;
}

.sign-up{
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background-color: #3882f6;  
    width: 800px;
    padding: 50px 100px;
    display:flex;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 20px;
}
.action-main{
    font-weight:700;
    margin-bottom: 5px;
}

.action-sub{
    font-size: 16px;
}

.sign-up button{
    color: white;
    border: 2px solid white;
}